
<h2>@ViewBag.Message</h2>

<h3>Логика приложения: </h3>
<ol>
    <li>
        Система должна представлять собой простейший пример хранилища документов.
    </li>

    <li>
        Для начала работы пользователь должен авторизовать себя. Неавторизованный пользователь не должен иметь возможность работать. Для создания пользователей написать sql-скрипт.
    </li>

    <li>
        Объект «Документ» должен иметь атрибуты:
        <ul>
            <li>Название</li>
            <li>Дата</li>
            <li>Автор</li>
            <li>Бинарный файл (например MS Word)</li>
        </ul>
    </li>

    <li>
        Функции системы:
        <ul>
            <li>Создание нового документа. Документ должен сохраняться в базу MSSQL посредством вызова хранимой процедуры, файл – в поддиректорию приложения. Текущий пользователь становится автором этого документа.</li>
            <li>Вывод списка документов с сортировкой по всем атрибутам (кроме «файла»). В последней колонке – иконка со ссылкой для открытия бинарного файла.</li>
            <li>Если название длинное, то отображаются только первые 30 символов и добавляется многоточие.</li>
            <li>Поиск в выводом результата в виде списка (см. выше)</li>
        </ul>	
    </li>

    <li>
        Дополнительные требования:
        <ul>
            <li>Интерфейс системы должен состоять из двух частей – заголовка с меню для доступа к функциям системы и рабочей области. Для построения страниц использовать ASP.NET MVC 4 разметку.</li>
            <li>При создании документа реализовать валидацию вводимых атрибутов с использованием возможностей ASP.NET MVC 4 (как на стороне клиента, так и на стороне сервера)</li>
            <li>Авторизация в режиме Forms</li>
            <li>Обязательно использование PartialView</li>
            <li>Внутренний дизайн приложения должен быть разработан в соответствии с принципами ООП</li>
            <li>Интеграция объектной модели приложения должна быть выполнена с помощью фреймворка объектно-реляционного отображения NHibernate.</li>
            <li>Полностью исключить EntityFramework из решения</li>
        </ul>
    </li>



</ol>
